@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.left {
  left: 0;
  background-color: #000;
}

.left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right {
  right: 0;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.centered {
  text-align: center;
}
.centered h1 {
  font-size: 60;
  font-weight: 600;
  display: flex;
}
.wrapper {
  display: flex;
}

.wrapper .static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: #6dfc91c9;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 80px;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  border-left: 2px solid #6dfc91c9;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
